<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img src="/img/jason.jpg"/ class="portrait">
            <p>This site was created by a cat. It uses data from outer space and underground. It eats yard waste and spent fuel rods.</p>
        </div>
        {{>footer}}
    </body>
</html>